@import "../../../styles/breakpoint";
@import "../../../styles/converter";
@import "../../../styles/variables";


[unresolved] {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  text-transform: uppercase;
  font-size: to-rem(22);
  color: $white;
}

.image-wrapper {
  max-width: 200px;
}

.image {
  width: 100%;
  height: to-em(200);
}

.login {
  width: 95%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: to-em(15 0 45);
  max-width: to-em(450);
  justify-content: center;
  flex-direction: column;
  background: $cheerful-blue;
  -webkit-box-shadow: -5px 10px 28px -14px rgba(179, 173, 179, 1);
  -moz-box-shadow: -5px 10px 28px -14px rgba(179, 173, 179, 1);
  box-shadow: -5px 10px 28px -14px rgba(179, 173, 179, 1);
}

.button {
  outline: none;
  border:none;
  width: to-em(150);
  height: to-em(45);
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  letter-spacing: -1px;
  background: $lemon;
}

.button:focus{
  outline: none;
}


